.header {
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  background: var(--shark);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 11.8rem;
    height: 2.5rem;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
    background:  var(--rgba);
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.5);
    }
  }

}

.container-home {
  width: 100vw;
  height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 800px;
    min-width: 18.5rem;
    height: 100vh;
    padding-top: 7rem;
    padding-bottom: 1rem;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 400;
      font-size: 1.4rem;
      text-align: justify;
      margin-bottom: 2rem;
    }

    .list-techs {
      background-color: var(--shark);
      width: 800px;

      height: 10.8rem;
      border: 2px solid var(--brown);
      border-radius: .5rem;
      padding: 1.3rem 5rem;

      ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;
          margin-right: .5rem;

          li {
              margin-bottom: .3rem;
          }
      }

      @media only screen and (max-width: 600px) {
        align-items: center;
        height: auto;
        width: auto;
        columns: 2;
      }

      @media only screen and (min-width: 600px) {
        align-items: center;
        height: auto;
        width: auto;
        columns: 3;
      }

    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        color: white;
        width: 8.3rem;
        height: 3.1rem;
        border-radius: .5rem;
        border: none;
        background-color: var(--shark);
        margin: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: .3rem;
        }

        p {
            font-size: 1rem;
            font-weight: 600;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
      h1 {
          text-align: center;
      }
  }

  @media only screen and (min-width: 600px) {
      h1 {
          text-align: center;
      }
  }

}
